body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("fotos/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
}

h1, p {
    text-align: center;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.boton {
  padding: 10px 20px;
  background-color: #e45dc2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #c57dc1;
}

.boton:active {
  background-color: #5a0e50;
}

.fotos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.fotos img {
  width: 210px;
  border-radius: 10px;
}
